/* main */
main {
    background: #fff;
}
/* middle_title*/
main .middle_title_bg {
    width: 100%; height: 600px; 
    background: url(../images/brand/brand_bg.jpg) no-repeat fixed center 5px;
    background-size: cover;
}
main .middle_title_bg .middle_title {
    width: 1180px; height: 600px; margin: 0 auto;
}
main .middle_title_bg .middle_title h2 {
    font-family: 700; font-size: 3.157rem; letter-spacing: -0.02em; color: #fff;
    text-align: center; padding: 282px;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}
/* story */
main .story_bg {background: #fff;}
main .story_bg .story {
    width: 1180px; margin: 0 auto; padding: 140px 135px; text-align: center;
    display: flex; flex-flow: column nowrap; align-items: center;
}
main .story_bg .story .italy {
    font-weight: 500; font-size: 1.2rem; letter-spacing: -0.02em;
    color: #cb0e05; margin-bottom: 30px;
}
main .story_bg .story h3 {
    font-weight: 700; font-size: 3.157rem; letter-spacing: -0.02em; color: #222;
    margin-bottom: 70px;
}
main .story_bg .story p {
    font-size: 1.2rem; letter-spacing: -0.02em; line-height: 35px; color: #222;
    margin-bottom: 50px;
}
main .story_bg .story .restaurant_image {
    width: 910px; height: 294px;
    display: flex; flex-flow: row nowrap; justify-content: space-between;
    margin-bottom: 100px;
}
main .story_bg .story .restaurant_image img {
    width: 430px; height: 294px;
}
main .story_bg .story .farm_image {
    width: 910px; height: 294px;
    display: flex; flex-flow: row nowrap; justify-content: space-between;
    margin-bottom: 50px;
}
main .story_bg .story .farm_image img {
    width: 430px; height: 294px;
}
main .story_bg .story video {
    width: 708px; height: 410px; border-radius: 20px; margin-bottom: 70px;
}
main .story_bg .story .logo_btm {
    width: 380px; height: 60px;
}