/* header */
header {
    background-color: #000;
}
/* title */
header .title {
    width: 1180px; margin: 0 auto;
    padding: 33.43px 0;
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
header .title h1 {
    width: 230px; height: 33.14px;
}
header .title h1 a {}
header .title h1 a img {
    width: 100%;
}
header .title nav {
}
header .title nav a {
    margin-left: 30px;
    color: #fff;
    font-size: 1.777rem; font-weight: 700;
    letter-spacing: -0.02em;
    transition: border-bottom 0.5s;
    transition: padding-bottom 0.5s;
}
header .title nav a:hover {
    border-bottom: 3px solid #fff;
    padding-bottom: 10px;
}
header .title nav a:first-child {
    margin-left: 0;
}

/* main */
main {}
main .middle_title_bg {
    width: 100%; height: 600px; 
    background: url(../images/menu_pasta/menu_pasta_bg.jpg) no-repeat fixed center;
    background-size: cover;
}
main .middle_title_bg .middle_title {
    width: 1180px; height: 600px; margin: 0 auto;
}
main .middle_title_bg .middle_title h2 {
    font-family: 700; font-size: 3.157rem; letter-spacing: -0.02em; color: #fff;
    text-align: center; padding: 282px;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}
/* kind */
main .pasta_kind_bg {background: #fff;}
main .pasta_kind_bg .pasta_kind {
    width: 1180px; margin: 0 auto; padding: 140px 140px;
    display: flex; flex-flow: column nowrap; justify-content: center; 
    align-items: center;
}
/* top */
main .pasta_kind_bg .pasta_kind .top {
    width: 900px; display: flex; flex-flow: row nowrap;
    justify-content: space-between; margin-bottom: 120px;
}
/* oil-pasta */
main .pasta_kind_bg .pasta_kind .top .oil {
    width: 380px; display: flex; flex-flow: column nowrap;
    align-items: flex-start;
}
main .pasta_kind_bg .pasta_kind .top .oil .img {
    align-self: center; width: 180px; height: 180px;
    margin-bottom: 30px;
}
main .pasta_kind_bg .pasta_kind .top .oil .img img {width: 100%;}
main .pasta_kind_bg .pasta_kind .top .oil .name {
    width: 380px; display: flex; flex-flow: row nowrap; 
    justify-content: space-between; align-items: center;
    margin-bottom: 20px;
}
main .pasta_kind_bg .pasta_kind .top .oil .name h3 {
    font-family: 700; font-size: 1.5rem; letter-spacing: -0.02em; color: #222;
}
main .pasta_kind_bg .pasta_kind .top .oil .name p {
    font-family: 500; font-size: 1.5rem; letter-spacing: -0.02em; color: #222;
}
main .pasta_kind_bg .pasta_kind .top .oil .name p em {font-family: 400;}
main .pasta_kind_bg .pasta_kind .top .oil span {
    display: block; width: 380px; height: 3px; background: #cb0e05;
    margin-bottom: 20px;
}
main .pasta_kind_bg .pasta_kind .top .oil p {
    letter-spacing: -0.02em; color: #222; line-height: 23px;
}
/* tomato-pasta */
main .pasta_kind_bg .pasta_kind .top .tomato {
    width: 380px; display: flex; flex-flow: column nowrap;
    align-items: flex-start;
}
main .pasta_kind_bg .pasta_kind .top .tomato .img {
    align-self: center; width: 180px; height: 180px;
    margin-bottom: 30px;
}
main .pasta_kind_bg .pasta_kind .top .tomato .img img {width: 100%;}
main .pasta_kind_bg .pasta_kind .top .tomato .name {
    width: 380px; display: flex; flex-flow: row nowrap; 
    justify-content: space-between; align-items: center;
    margin-bottom: 20px;
}
main .pasta_kind_bg .pasta_kind .top .tomato .name h3 {
    font-family: 700; font-size: 1.5rem; letter-spacing: -0.02em; color: #222;
}
main .pasta_kind_bg .pasta_kind .top .tomato .name p {
    font-family: 500; font-size: 1.5rem; letter-spacing: -0.02em; color: #222;
}
main .pasta_kind_bg .pasta_kind .top .tomato .name p em {font-family: 400;}
main .pasta_kind_bg .pasta_kind .top .tomato span {
    display: block; width: 380px; height: 3px; background: #cb0e05;
    margin-bottom: 20px;
}
main .pasta_kind_bg .pasta_kind .top .tomato p {
    letter-spacing: -0.02em; color: #222; line-height: 23px;
}
/* bottom */
main .pasta_kind_bg .pasta_kind .bottom {
    width: 900px; display: flex; flex-flow: row nowrap;
    justify-content: space-between;
}
/* cream-pasta */
main .pasta_kind_bg .pasta_kind .bottom .cream {
    width: 380px; display: flex; flex-flow: column nowrap;
    align-items: flex-start;
}
main .pasta_kind_bg .pasta_kind .bottom .cream .img {
    align-self: center; width: 180px; height: 180px;
    margin-bottom: 30px;
}
main .pasta_kind_bg .pasta_kind .bottom .cream .img img {width: 100%;}
main .pasta_kind_bg .pasta_kind .bottom .cream .name {
    width: 380px; display: flex; flex-flow: row nowrap; 
    justify-content: space-between; align-items: center;
    margin-bottom: 20px;
}
main .pasta_kind_bg .pasta_kind .bottom .cream .name h3 {
    font-family: 700; font-size: 1.5rem; letter-spacing: -0.02em; color: #222;
}
main .pasta_kind_bg .pasta_kind .bottom .cream .name p {
    font-family: 500; font-size: 1.5rem; letter-spacing: -0.02em; color: #222;
}
main .pasta_kind_bg .pasta_kind .bottom .cream .name p em {font-family: 400;}
main .pasta_kind_bg .pasta_kind .bottom .cream span {
    display: block; width: 380px; height: 3px; background: #cb0e05;
    margin-bottom: 20px;
}
main .pasta_kind_bg .pasta_kind .bottom .cream p {
    letter-spacing: -0.02em; color: #222; line-height: 23px;
}
/* basil-pasta */
main .pasta_kind_bg .pasta_kind .bottom .basil {
    width: 380px; display: flex; flex-flow: column nowrap;
    align-items: flex-start;
}
main .pasta_kind_bg .pasta_kind .bottom .basil .img {
    align-self: center; width: 180px; height: 180px;
    margin-bottom: 30px;
}
main .pasta_kind_bg .pasta_kind .bottom .basil .img img {width: 100%;}
main .pasta_kind_bg .pasta_kind .bottom .basil .name {
    width: 380px; display: flex; flex-flow: row nowrap; 
    justify-content: space-between; align-items: center;
    margin-bottom: 20px;
}
main .pasta_kind_bg .pasta_kind .bottom .basil .name h3 {
    font-family: 700; font-size: 1.5rem; letter-spacing: -0.02em; color: #222;
}
main .pasta_kind_bg .pasta_kind .bottom .basil .name p {
    font-family: 500; font-size: 1.5rem; letter-spacing: -0.02em; color: #222;
}
main .pasta_kind_bg .pasta_kind .bottom .basil .name p em {font-family: 400;}
main .pasta_kind_bg .pasta_kind .bottom .basil span {
    display: block; width: 380px; height: 3px; background: #cb0e05;
    margin-bottom: 20px;
}
main .pasta_kind_bg .pasta_kind .bottom .basil p {
    letter-spacing: -0.02em; color: #222; line-height: 23px;
}

/* footer */
footer {}
footer .contents_bg {background: #000;}
footer .contents_bg .contents {
    width: 1180px; margin: 0 auto;
    display: flex; flex-flow: column nowrap;
    align-items: flex-start; padding: 50px 0;
    color: #fff;
}
/* top */
footer .contents_bg .contents .top {
    width: 1180px;
    display: flex; flex-flow: row nowrap;
    justify-content: space-between; align-items: center;
    margin-bottom: 25px;
}
footer .contents_bg .contents .top #fnb {
    display: flex; flex-flow: row nowrap;
}
footer .contents_bg .contents .top #fnb a {
    color: #fff; font-family: 'Noto Sans KR', sans-serif;
    letter-spacing: -0.02em;
    margin-right: 10px;
    position: relative;
}
footer .contents_bg .contents .top #fnb a::after {
    display: inline-block; content: ''; width: 1px; height: 11px; 
    background: #fff; margin: 0 6px 0 15px;
}
footer .contents_bg .contents .top #fnb a:nth-child(7)::after {
    display: none;
}
footer .contents_bg .contents .top .link {}
footer .contents_bg .contents .top .link .instagram {
    width: 35px; height: 35px;
}
footer .contents_bg .contents .top .link .instagram img {}
footer .contents_bg .contents .top .link .facebook {
    width: 35px; height: 35px;
    margin-left: 10px;
}
footer .contents_bg .contents .top .link .facebook img {}
footer .contents_bg .contents .top .link .youtube {
    width: 35px; height: 35px;
    margin-left: 10px;
}
footer .contents_bg .contents .top .link .youtube img {}
footer .contents_bg .contents .top .link .kakao {
    margin-left: 10px;
    width: 35px; height: 35px;
}
footer .contents_bg .contents .top .link .kakao img {}
/* address */
footer .contents_bg #address {
    font-family: 'Noto Sans KR', sans-serif;
    letter-spacing: -0.02em; line-height: 26px;
    margin-bottom: 25px;
}
footer .contents_bg #address span {
    display: inline-block; width: 1px; height: 11px; margin: 0 10px;
    background: #fff;
}
/* number */
footer .contents_bg .number {}
footer .contents_bg .number p {
    font-family: 'Noto Sans KR', sans-serif;
    letter-spacing: -0.02em; line-height: 26px;
}
footer .contents_bg .number p em,
footer .contents_bg .number p strong {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700; font-size: 1.333rem; letter-spacing: -0.02em;
}