/* header */
header {
    background-color: #000;
}
/* title */
header .title {
    width: 1180px; margin: 0 auto;
    padding: 33.43px 0;
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
header .title h1 {
    width: 230px; height: 33.14px;
}
header .title h1 a {}
header .title h1 a img {
    width: 100%;
}
header .title nav {
}
header .title nav a {
    margin-left: 30px;
    color: #fff;
    font-size: 1.777rem; font-weight: 700;
    letter-spacing: -0.02em;
    transition: border-bottom 0.5s;
    transition: padding-bottom 0.5s;
}
header .title nav a:hover {
    border-bottom: 3px solid #fff;
    padding-bottom: 10px;
}
header .title nav a:first-child {
    margin-left: 0;
}

/* main */
main {}
main .middle_title_bg {
    width: 100%; height: 600px; 
    background: url(../images/menu_pizza/menu_pizza_bg.jpg) no-repeat fixed center 1px;
    background-size: cover;
}
main .middle_title_bg .middle_title {
    width: 1180px; height: 600px; margin: 0 auto;
}
main .middle_title_bg .middle_title h2 {
    font-family: 700; font-size: 3.157rem; letter-spacing: -0.02em; color: #fff;
    text-align: center; padding: 282px;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}
/* kind */
main .pizza_kind_bg {background: #fff;}
main .pizza_kind_bg .pizza_kind {
    width: 1180px; margin: 0 auto; padding: 140px 140px;
    display: flex; flex-flow: column nowrap; justify-content: center; 
    align-items: center;
}
/* top */
main .pizza_kind_bg .pizza_kind .top {
    width: 900px; display: flex; flex-flow: row nowrap;
    justify-content: space-between; margin-bottom: 120px;
}
/* shrimp-pizza */
main .pizza_kind_bg .pizza_kind .top .shrimp {
    width: 380px; display: flex; flex-flow: column nowrap;
    align-items: flex-start;
}
main .pizza_kind_bg .pizza_kind .top .shrimp .img {
    align-self: center; width: 180px; height: 180px;
    margin-bottom: 30px;
}
main .pizza_kind_bg .pizza_kind .top .shrimp .img img {width: 100%;}
main .pizza_kind_bg .pizza_kind .top .shrimp .name {
    width: 380px; display: flex; flex-flow: row nowrap; 
    justify-content: space-between; align-items: center;
    margin-bottom: 20px;
}
main .pizza_kind_bg .pizza_kind .top .shrimp .name h3 {
    font-family: 700; font-size: 1.5rem; letter-spacing: -0.02em; color: #222;
}
main .pizza_kind_bg .pizza_kind .top .shrimp .name p {
    font-family: 500; font-size: 1.5rem; letter-spacing: -0.02em; color: #222;
}
main .pizza_kind_bg .pizza_kind .top .shrimp .name p em {font-family: 400;}
main .pizza_kind_bg .pizza_kind .top .shrimp span {
    display: block; width: 380px; height: 3px; background: #cb0e05;
    margin-bottom: 20px;
}
main .pizza_kind_bg .pizza_kind .top .shrimp p {
    letter-spacing: -0.02em; color: #222; line-height: 23px;
}
/* diabola-pizza */
main .pizza_kind_bg .pizza_kind .top .diabola {
    width: 380px; display: flex; flex-flow: column nowrap;
    align-items: flex-start;
}
main .pizza_kind_bg .pizza_kind .top .diabola .img {
    align-self: center; width: 180px; height: 180px;
    margin-bottom: 30px;
}
main .pizza_kind_bg .pizza_kind .top .diabola .img img {width: 100%;}
main .pizza_kind_bg .pizza_kind .top .diabola .name {
    width: 380px; display: flex; flex-flow: row nowrap; 
    justify-content: space-between; align-items: center;
    margin-bottom: 20px;
}
main .pizza_kind_bg .pizza_kind .top .diabola .name h3 {
    font-family: 700; font-size: 1.5rem; letter-spacing: -0.02em; color: #222;
}
main .pizza_kind_bg .pizza_kind .top .diabola .name p {
    font-family: 500; font-size: 1.5rem; letter-spacing: -0.02em; color: #222;
}
main .pizza_kind_bg .pizza_kind .top .diabola .name p em {font-family: 400;}
main .pizza_kind_bg .pizza_kind .top .diabola span {
    display: block; width: 380px; height: 3px; background: #cb0e05;
    margin-bottom: 20px;
}
main .pizza_kind_bg .pizza_kind .top .diabola p {
    letter-spacing: -0.02em; color: #222; line-height: 23px;
}
/* bottom */
main .pizza_kind_bg .pizza_kind .bottom {
    width: 900px; display: flex; flex-flow: row nowrap;
    justify-content: space-between;
}
/* gorgonzola-pizza */
main .pizza_kind_bg .pizza_kind .bottom .gorgonzola {
    width: 380px; display: flex; flex-flow: column nowrap;
    align-items: flex-start;
}
main .pizza_kind_bg .pizza_kind .bottom .gorgonzola .img {
    align-self: center; width: 180px; height: 180px;
    margin-bottom: 30px;
}
main .pizza_kind_bg .pizza_kind .bottom .gorgonzola .img img {width: 100%;}
main .pizza_kind_bg .pizza_kind .bottom .gorgonzola .name {
    width: 380px; display: flex; flex-flow: row nowrap; 
    justify-content: space-between; align-items: center;
    margin-bottom: 20px;
}
main .pizza_kind_bg .pizza_kind .bottom .gorgonzola .name h3 {
    font-family: 700; font-size: 1.5rem; letter-spacing: -0.02em; color: #222;
}
main .pizza_kind_bg .pizza_kind .bottom .gorgonzola .name p {
    font-family: 500; font-size: 1.5rem; letter-spacing: -0.02em; color: #222;
}
main .pizza_kind_bg .pizza_kind .bottom .gorgonzola .name p em {font-family: 400;}
main .pizza_kind_bg .pizza_kind .bottom .gorgonzola span {
    display: block; width: 380px; height: 3px; background: #cb0e05;
    margin-bottom: 20px;
}
main .pizza_kind_bg .pizza_kind .bottom .gorgonzola p {
    letter-spacing: -0.02em; color: #222; line-height: 23px;
}
/* margherita-pizza */
main .pizza_kind_bg .pizza_kind .bottom .margherita {
    width: 380px; display: flex; flex-flow: column nowrap;
    align-items: flex-start;
}
main .pizza_kind_bg .pizza_kind .bottom .margherita .img {
    align-self: center; width: 180px; height: 180px;
    margin-bottom: 30px;
}
main .pizza_kind_bg .pizza_kind .bottom .margherita .img img {width: 100%;}
main .pizza_kind_bg .pizza_kind .bottom .margherita .name {
    width: 380px; display: flex; flex-flow: row nowrap; 
    justify-content: space-between; align-items: center;
    margin-bottom: 20px;
}
main .pizza_kind_bg .pizza_kind .bottom .margherita .name h3 {
    font-family: 700; font-size: 1.5rem; letter-spacing: -0.02em; color: #222;
}
main .pizza_kind_bg .pizza_kind .bottom .margherita .name p {
    font-family: 500; font-size: 1.5rem; letter-spacing: -0.02em; color: #222;
}
main .pizza_kind_bg .pizza_kind .bottom .margherita .name p em {font-family: 400;}
main .pizza_kind_bg .pizza_kind .bottom .margherita span {
    display: block; width: 380px; height: 3px; background: #cb0e05;
    margin-bottom: 20px;
}
main .pizza_kind_bg .pizza_kind .bottom .margherita p {
    letter-spacing: -0.02em; color: #222; line-height: 23px;
}

/* footer */
footer {}
footer .contents_bg {background: #000;}
footer .contents_bg .contents {
    width: 1180px; margin: 0 auto;
    display: flex; flex-flow: column nowrap;
    align-items: flex-start; padding: 50px 0;
    color: #fff;
}
/* top */
footer .contents_bg .contents .top {
    width: 1180px;
    display: flex; flex-flow: row nowrap;
    justify-content: space-between; align-items: center;
    margin-bottom: 25px;
}
footer .contents_bg .contents .top #fnb {
    display: flex; flex-flow: row nowrap;
}
footer .contents_bg .contents .top #fnb a {
    color: #fff; font-family: 'Noto Sans KR', sans-serif;
    letter-spacing: -0.02em;
    margin-right: 10px;
    position: relative;
}
footer .contents_bg .contents .top #fnb a::after {
    display: inline-block; content: ''; width: 1px; height: 11px; 
    background: #fff; margin: 0 6px 0 15px;
}
footer .contents_bg .contents .top #fnb a:nth-child(7)::after {
    display: none;
}
footer .contents_bg .contents .top .link {}
footer .contents_bg .contents .top .link .instagram {
    width: 35px; height: 35px;
}
footer .contents_bg .contents .top .link .instagram img {}
footer .contents_bg .contents .top .link .facebook {
    width: 35px; height: 35px;
    margin-left: 10px;
}
footer .contents_bg .contents .top .link .facebook img {}
footer .contents_bg .contents .top .link .youtube {
    width: 35px; height: 35px;
    margin-left: 10px;
}
footer .contents_bg .contents .top .link .youtube img {}
footer .contents_bg .contents .top .link .kakao {
    margin-left: 10px;
    width: 35px; height: 35px;
}
footer .contents_bg .contents .top .link .kakao img {}
/* address */
footer .contents_bg #address {
    font-family: 'Noto Sans KR', sans-serif;
    letter-spacing: -0.02em; line-height: 26px;
    margin-bottom: 25px;
}
footer .contents_bg #address span {
    display: inline-block; width: 1px; height: 11px; margin: 0 10px;
    background: #fff;
}
/* number */
footer .contents_bg .number {}
footer .contents_bg .number p {
    font-family: 'Noto Sans KR', sans-serif;
    letter-spacing: -0.02em; line-height: 26px;
}
footer .contents_bg .number p em,
footer .contents_bg .number p strong {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700; font-size: 1.333rem; letter-spacing: -0.02em;
}