/* main */
main {}
main .middle_title_bg {
    width: 100%; height: 600px; 
    background: url(../images/menu_steak/menu_steak_bg.jpg) no-repeat fixed center 1px;
    background-size: cover;
}
main .middle_title_bg .middle_title {
    width: 1180px; height: 600px; margin: 0 auto;
}
main .middle_title_bg .middle_title h2 {
    font-family: 700; font-size: 3.157rem; letter-spacing: -0.02em; color: #fff;
    text-align: center; padding: 282px;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}
/* kind */
main .steak_kind_bg {background: #fff;}
main .steak_kind_bg .steak_kind {
    width: 1180px; margin: 0 auto; padding: 140px 140px;
    display: flex; flex-flow: column nowrap; justify-content: center; 
    align-items: center;
}
/* top */
main .steak_kind_bg .steak_kind .top {
    width: 900px; display: flex; flex-flow: row nowrap;
    justify-content: space-between; margin-bottom: 120px;
}
/* garlic_grill-steak */
main .steak_kind_bg .steak_kind .top .garlic_grill {
    width: 380px; display: flex; flex-flow: column nowrap;
    align-items: flex-start;
}
main .steak_kind_bg .steak_kind .top .garlic_grill .img {
    align-self: center; width: 180px; height: 180px;
    margin-bottom: 30px;
}
main .steak_kind_bg .steak_kind .top .garlic_grill .img img {width: 100%;}
main .steak_kind_bg .steak_kind .top .garlic_grill .name {
    width: 380px; display: flex; flex-flow: row nowrap; 
    justify-content: space-between; align-items: center;
    margin-bottom: 20px;
}
main .steak_kind_bg .steak_kind .top .garlic_grill .name h3 {
    font-family: 700; font-size: 1.5rem; letter-spacing: -0.02em; color: #222;
}
main .steak_kind_bg .steak_kind .top .garlic_grill .name p {
    font-family: 500; font-size: 1.5rem; letter-spacing: -0.02em; color: #222;
}
main .steak_kind_bg .steak_kind .top .garlic_grill .name p em {font-family: 400;}
main .steak_kind_bg .steak_kind .top .garlic_grill span {
    display: block; width: 380px; height: 3px; background: #cb0e05;
    margin-bottom: 20px;
}
main .steak_kind_bg .steak_kind .top .garlic_grill p {
    letter-spacing: -0.02em; color: #222; line-height: 23px;
}
/* pork-steak */
main .steak_kind_bg .steak_kind .top .pork {
    width: 380px; display: flex; flex-flow: column nowrap;
    align-items: flex-start;
}
main .steak_kind_bg .steak_kind .top .pork .img {
    align-self: center; width: 180px; height: 180px;
    margin-bottom: 30px;
}
main .steak_kind_bg .steak_kind .top .pork .img img {width: 100%;}
main .steak_kind_bg .steak_kind .top .pork .name {
    width: 380px; display: flex; flex-flow: row nowrap; 
    justify-content: space-between; align-items: center;
    margin-bottom: 20px;
}
main .steak_kind_bg .steak_kind .top .pork .name h3 {
    font-family: 700; font-size: 1.5rem; letter-spacing: -0.02em; color: #222;
}
main .steak_kind_bg .steak_kind .top .pork .name p {
    font-family: 500; font-size: 1.5rem; letter-spacing: -0.02em; color: #222;
}
main .steak_kind_bg .steak_kind .top .pork .name p em {font-family: 400;}
main .steak_kind_bg .steak_kind .top .pork span {
    display: block; width: 380px; height: 3px; background: #cb0e05;
    margin-bottom: 20px;
}
main .steak_kind_bg .steak_kind .top .pork p {
    letter-spacing: -0.02em; color: #222; line-height: 23px;
}
/* bottom */
main .steak_kind_bg .steak_kind .bottom {
    width: 900px; padding: 0 260px;
}
/* chop-steak */
main .steak_kind_bg .steak_kind .bottom .chop {
    width: 380px; display: flex; flex-flow: column nowrap;
    align-items: flex-start;
}
main .steak_kind_bg .steak_kind .bottom .chop .img {
    align-self: center; width: 180px; height: 180px;
    margin-bottom: 30px;
}
main .steak_kind_bg .steak_kind .bottom .chop .img img {width: 100%;}
main .steak_kind_bg .steak_kind .bottom .chop .name {
    width: 380px; display: flex; flex-flow: row nowrap; 
    justify-content: space-between; align-items: center;
    margin-bottom: 20px;
}
main .steak_kind_bg .steak_kind .bottom .chop .name h3 {
    font-family: 700; font-size: 1.5rem; letter-spacing: -0.02em; color: #222;
}
main .steak_kind_bg .steak_kind .bottom .chop .name p {
    font-family: 500; font-size: 1.5rem; letter-spacing: -0.02em; color: #222;
}
main .steak_kind_bg .steak_kind .bottom .chop .name p em {font-family: 400;}
main .steak_kind_bg .steak_kind .bottom .chop span {
    display: block; width: 380px; height: 3px; background: #cb0e05;
    margin-bottom: 20px;
}
main .steak_kind_bg .steak_kind .bottom .chop p {
    letter-spacing: -0.02em; color: #222; line-height: 23px;
}