/* main */
main {}
main .middle_title_bg {
    width: 100%; height: 600px; 
    background: url(../images/menu/menu_bg.jpg) no-repeat fixed center 1px;
    background-size: cover;
}
main .middle_title_bg .middle_title {
    width: 1180px; height: 600px; margin: 0 auto;
}
main .middle_title_bg .middle_title h2 {
    font-family: 700; font-size: 3.157rem; letter-spacing: -0.02em; color: #fff;
    text-align: center; padding: 282px;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}
/* kind */
main .kind_bg {background: #fff;}
main .kind_bg .kind {
    width: 1180px; height: 800px; margin: 0 auto;
    display: flex; flex-flow: row nowrap; justify-content: space-between;
    align-items: center; padding: 0 170px;
}
/* pasta */
main .kind_bg .kind .pasta {
    display: flex; flex-flow: column nowrap; justify-content: space-between; 
    align-items: center;
}
main .kind_bg .kind .pasta p {
    width: 120px; height: 123.03px;
    background-image: url(../images/menu/pasta.png);
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-image 0.2s;
    margin-bottom: 40px;
}
main .kind_bg .kind .pasta p:hover {
    background-image: url(../images/menu/pasta_hover.png);
    background-size: cover;
    background-repeat: no-repeat;
}
main .kind_bg .kind .pasta h3 {
    font-weight: 700; font-size: 2.2rem; letter-spacing: -0.02em; color: #cb0e05;
}
/* pizza */
main .kind_bg .kind .pizza {
    display: flex; flex-flow: column nowrap; justify-content: space-between; 
    align-items: center;
}
main .kind_bg .kind .pizza p {
    width: 120px; height: 123.03px;
    background-image: url(../images/menu/pizza.png);
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-image 0.2s;
    margin-bottom: 40px;
}
main .kind_bg .kind .pizza p:hover {
    background-image: url(../images/menu/pizza_hover.png);
    background-size: cover;
    background-repeat: no-repeat;
}
main .kind_bg .kind .pizza h3 {
    font-weight: 700; font-size: 2.2rem; letter-spacing: -0.02em; color: #cb0e05;
}
/* steak */
main .kind_bg .kind .steak {
    display: flex; flex-flow: column nowrap; justify-content: space-between; 
    align-items: center;
}
main .kind_bg .kind .steak p {
    width: 120px; height: 123.03px;
    background-image: url(../images/menu/steak.png);
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-image 0.2s;
    margin-bottom: 40px;
}
main .kind_bg .kind .steak p:hover {
    background-image: url(../images/menu/steak_hover.png);
    background-size: cover;
    background-repeat: no-repeat;
}
main .kind_bg .kind .steak h3 {
    font-weight: 700; font-size: 2.2rem; letter-spacing: -0.02em; color: #cb0e05;
}