/* main */
main {}
main .middle_title_bg {
    width: 100%; height: 600px; 
    background: url(../images/reservation/reservation_bg.jpg) no-repeat fixed center;
    background-size: cover;
}
main .middle_title_bg .middle_title {
    width: 1180px; height: 600px; margin: 0 auto;
}
main .middle_title_bg .middle_title h2 {
    font-family: 700; font-size: 3.157rem; letter-spacing: -0.02em; color: #fff;
    text-align: center; padding: 282px;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}
/* reservation */
main .reservation_bg {}
main .reservation_bg .reservation {
    width: 100%;
    background:  url(../images/reservation/three_image_bg.jpg) no-repeat center;
    background-size: cover;
    margin: 0 auto; padding: 140px 161px;
}
main .reservation_bg .reservation #reservation_frm {
    display: flex; flex-flow: column nowrap;
}
main .reservation_bg .reservation #reservation_frm fieldset {
    display: flex; flex-flow: column nowrap; align-items: center;
}
main .reservation_bg .reservation #reservation_frm fieldset h2 {
    width: 858px; background: #cb0e05; padding: 50px 250px;
    font-weight: 700; font-size: 3.157rem; letter-spacing: -0.02em;
    color: #fff; border-radius: 20px 20px 0 0 ;
}
main .reservation_bg .reservation #reservation_frm fieldset ul {
    background: #f9f9f9; width: 858px; height: 862px;
    border-radius: 0 0 20px 20px;
    display: flex; flex-flow: column nowrap;
    align-items: center; padding: 50px 58.5px;
}
main .reservation_bg .reservation #reservation_frm fieldset ul > li {}
/* form-day */
main .reservation_bg .reservation #reservation_frm fieldset ul .day {
    width: 741px; height: 75px;
    display: flex; flex-flow: row nowrap; justify-content: space-between;
    margin-bottom: 50px;
}
main .reservation_bg .reservation #reservation_frm fieldset ul .day #date_btn {
    background: #fff; border: 1px solid #787878; border-radius: 15px;
    width: 399px; height: 75px;
    display: flex; flex-flow: row nowrap; align-items: center;
}
main .reservation_bg .reservation #reservation_frm fieldset ul .day #date_btn img {
    width: 25px; height: 25px; margin: 0 30px;
}
main .reservation_bg .reservation #reservation_frm fieldset ul .day #date_btn select {
    width: 70%; border: 0; height: 70%;
    font-size: 1.5rem; letter-spacing: -0.02em; color: #787878;
}
#reservation_frm fieldset ul .day #date_btn select option {
    font-size: 1.5rem; letter-spacing: -0.02em; color: #787878;
}
main .reservation_bg .reservation #reservation_frm fieldset ul .day #time_btn {
    background: #fff; border: 1px solid #787878; border-radius: 15px;
    width: 299px; height: 75px;
    display: flex; flex-flow: row nowrap; align-items: center;
}
main .reservation_bg .reservation #reservation_frm fieldset ul .day #time_btn img {
    width: 25px; height: 25px; margin: 0 30px;
}
main .reservation_bg .reservation #reservation_frm fieldset ul .day #time_btn select {
    width: 60%; border: 0; height: 70%;
    font-size: 1.5rem; letter-spacing: -0.02em; color: #787878;
}
main .reservation_bg .reservation #reservation_frm fieldset ul .day #time_btn select option {
    font-size: 1.5rem; letter-spacing: -0.02em; color: #787878;
}
/* form-area */
main .reservation_bg .reservation #reservation_frm fieldset ul .area {
    margin-bottom: 50px;
}
main .reservation_bg .reservation #reservation_frm fieldset ul .area #area_btn {
    background: #fff; border: 1px solid #787878; border-radius: 15px;
    width: 741px; height: 75px;
    display: flex; flex-flow: row nowrap; align-items: center;
}
main .reservation_bg .reservation #reservation_frm fieldset ul .area #area_btn img {
    width: 25px; height: 25px; margin: 0 30px;
}
main .reservation_bg .reservation #reservation_frm fieldset ul .area #area_btn select {
    width: 85%; border: 0; height: 70%;
    font-size: 1.5rem; letter-spacing: -0.02em; color: #787878;
}
main .reservation_bg .reservation #reservation_frm fieldset ul .area #area_btn select option {
    font-size: 1.5rem; letter-spacing: -0.02em; color: #787878;
}
/* form-line */
main .reservation_bg .reservation #reservation_frm fieldset ul .line {
    margin-bottom: 50px;
}
main .reservation_bg .reservation #reservation_frm fieldset ul .line span {
    width: 741px; height: 1px; background: #787878;
    display: block;
}
/* form-personnel */
main .reservation_bg .reservation #reservation_frm fieldset ul .personnel_input {
    background: #fff; border: 1px solid #787878; border-radius: 15px;
    width: 741px; height: 75px;
    display: flex; flex-flow: row nowrap; align-items: center;
    margin-bottom: 50px;
}
main .reservation_bg .reservation #reservation_frm fieldset ul .personnel_input img {
    width: 25px; height: 25px; margin: 0 30px;
}
main .reservation_bg .reservation #reservation_frm fieldset ul .personnel_input #personnel {
    width: 100%;
    font-size: 1.5rem; letter-spacing: -0.02em; color: #787878;
}
/* form-name */
main .reservation_bg .reservation #reservation_frm fieldset ul .name_input {
    background: #fff; border: 1px solid #787878; border-radius: 15px;
    width: 741px; height: 75px;
    display: flex; flex-flow: row nowrap; align-items: center;
    margin-bottom: 50px;
}
main .reservation_bg .reservation #reservation_frm fieldset ul .name_input img {
    width: 25px; height: 25px; margin: 0 30px;
}
main .reservation_bg .reservation #reservation_frm fieldset ul .name_input #name {
    font-size: 1.5rem; letter-spacing: -0.02em; color: #787878; width: 100%;
}
/* form-call */
main .reservation_bg .reservation #reservation_frm fieldset ul .call_input {
    background: #fff; border: 1px solid #787878; border-radius: 15px;
    width: 741px; height: 75px;
    display: flex; flex-flow: row nowrap; align-items: center;
    margin-bottom: 50px;
}
main .reservation_bg .reservation #reservation_frm fieldset ul .call_input img {
    width: 25px; height: 25px; margin: 0 30px;
}
main .reservation_bg .reservation #reservation_frm fieldset ul .call_input #call {
    font-size: 1.5rem; letter-spacing: -0.02em; color: #787878; width: 100%;
}
/* form-reservation_btn */
main .reservation_bg .reservation #reservation_frm fieldset ul .reservation_button {}
main .reservation_bg .reservation #reservation_frm fieldset ul .reservation_button #reservation_btn {
    width: 341px; height: 87px; background: #ad8350; border-radius: 15px;
    font-weight: 500; font-size: 2.2rem; letter-spacing: -0.02em;
    color: #fff; transition: color 0.3s;
}
main .reservation_bg .reservation #reservation_frm fieldset ul .reservation_button #reservation_btn:hover {color: #222;}