/* header */
header {
    background-color: #000;
}
/* title */
header .title {
    width: 1180px; margin: 0 auto;
    padding: 33.43px 0;
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
header .title h1 {
    width: 230px; height: 33.14px;
}
header .title h1 a {}
header .title h1 a img {
    width: 100%;
}
header .title nav {
}
header .title nav a {
    margin-left: 30px;
    color: #fff;
    font-size: 1.777rem; font-weight: 700;
    letter-spacing: -0.02em;
    transition: border-bottom 0.5s;
    transition: padding-bottom 0.5s;
}
header .title nav a:hover {
    border-bottom: 3px solid #fff;
    padding-bottom: 10px;
}
header .title nav a:first-child {
    margin-left: 0;
}


/* main */
main { }
/* main-1. swiper-slide */
/* swiper 정식명칭 클래스는 웹 페이지 1장에서 swiper가 2개 이상 들어올 경우 디자인이 강제로 중복될 수 있으므로 개별 아이디 및 클래스를 사용해서 선택자를 만들고 디자인한다. */
/* swiper-slide 반응형 설계를 할 경우 */
/* swiper-slide 자체가 가변형 기능을 내장하고 있기 때문에 가장바깥쪽 swiper영역을 기준으로 가변크기를 넣어주면 자동으로 반응형에 맞춰지는 슬라이드가 완성된다. */
main #madforgarlic_slide {
    max-width: 1920px; height: 900px;
    background: rgb(240, 188, 125);
}
main #madforgarlic_slide .swiper-wrapper {}
main #madforgarlic_slide .swiper-wrapper .swiper-slide {}
main #madforgarlic_slide .swiper-wrapper .slide1 {
    background: url(../images/main/slide1.jpg);
    background-size: cover;
    position: relative;
}
main #madforgarlic_slide .swiper-wrapper .slide1 .txt1 {
    width: 632px; height: 278px; position: absolute;
    top: 348px; right: 217px;
}
main #madforgarlic_slide .swiper-wrapper .slide1 .txt1 img {}
main #madforgarlic_slide .swiper-wrapper .slide2 {
    background: url(../images/main/slide2.jpg);
    background-size: cover; position: relative;
}
main #madforgarlic_slide .swiper-wrapper .slide2 .txt2 {
    width: 1497px; height: 225px; position: absolute;
    top: 127px; right: 181px;
}
main #madforgarlic_slide .swiper-wrapper .slide2 .txt2 img {width: 100%;}
/* swiper-slide prev, next 기본 css(position:absolute)내장 */
/* 위치를 움직이고 싶다면 position속성 추가작성없이 방향값추가 */
main #madforgarlic_slide.swiper .swiper-button-prev,
main #madforgarlic_slide.swiper .swiper-button-next {
    width: 70px; height: 70px;
}
main #madforgarlic_slide .swiper-button-prev {
    background: url(../images/main/drirection_left.png);
    left: 200px;
    transition: background 0.3s;
}
main #madforgarlic_slide .swiper-button-prev:hover {
    background: url(../images/main/drirection_left_hover.png);
    left: 200px;
}
main #madforgarlic_slide .swiper-button-next {
    background: url(../images/main/drirection_right.png);
    right: 200px;
    transition: background 0.3s;
}
main #madforgarlic_slide .swiper-button-next:hover {
    background: url(../images/main/drirection_right_hover.png);
    right: 200px;
}
/* swiper-slide 라이브러리에서 기본제공하는 이전, 다음 숨기기 */
main #madforgarlic_slide .swiper-button-prev::after,
main #madforgarlic_slide .swiper-button-next::after {
    display: none;
}
/* pagination */
main #madforgarlic_slide.swiper .swiper-pagination {}

/* madforgarlic-slide2 */
main #madforgarlic_slide .swiper-wrapper .slide2 {
    max-width: 1920x; margin: 0 auto;
    /* slide대상으로 img태그를 삽입한 경우 높이값은 이미지 태그크기만큼 자동으로 설정되므로 별도의 높이값은 작성할 필요가 없다. */
}
main #madforgarlic_slide .swiper-wrapper .slide2 img {width: 100%;}


/* bestmenu */
main .bestmenu {
    background: #fff;
}
main .bestmenu .title {
    width: 1180px; margin: 0 auto;
    background: url(../images/main/bestmenu_bg.jpg) no-repeat;
    background-size: cover;
}
main .bestmenu .title h2 {
    padding: 140px 0 70px;
    text-align: center;
    font-weight: 700; font-size: 3.157rem;
    letter-spacing: -0.02em;
}
main .bestmenu .contents {
    width: 1180px; margin: 0 auto;
    padding: 0 37.5px 50px;
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
}
/* food_left */
main .bestmenu .contents .food_left {
    width: 525px; display: flex; flex-flow: column nowrap;
    align-items: center;
}
main .bestmenu .contents .food_left p {
    width: 525px; height: 333px;
}
main .bestmenu .contents .food_left p img {width: 100%;}
main .bestmenu .contents .food_left .explanation {
    width: 465px; height: 350px;
    background: #222; border-radius: 10px;
    display: flex; flex-flow: column nowrap;
    align-items: center; justify-content: center; 
}
main .bestmenu .contents .food_left .explanation h3 {
    font-weight: 700; font-size: 2.369rem;
    letter-spacing: -0.02em; color: #fff;
    margin-bottom: 40px;
}
main .bestmenu .contents .food_left .explanation h4 {
    font-weight: 500; font-size: 1.777rem;
    letter-spacing: -0.02em; color: #fff;
    margin-bottom: 40px;
}
main .bestmenu .contents .food_left .explanation p {
    text-align: center;
    width: 378px; height: 45px;
    font-size: 1.2rem; letter-spacing: -0.02em;
    line-height: 30px; color: #fff; 
    margin-bottom: 40px;
}
main .bestmenu .contents .food_left .explanation #view_btn {
    width: 185px; line-height: 55px;
    background: #fff; text-align: center;
    border-radius: 50px;
    font-weight: 500; font-size: 1.2rem; letter-spacing: -0.02em;
    color: #222; transition: color 0.2s; transition: background 0.2s;
}
main .bestmenu .contents .food_left .explanation #view_btn:hover {
    color: #fff; background: #cb0e05;
}
/* food_right */
main .bestmenu .contents .food_right {
    width: 525px; display: flex; flex-flow: column nowrap;
    align-items: center;
}
main .bestmenu .contents .food_right p {
    width: 525px; height: 333px;
}
main .bestmenu .contents .food_right p img {width: 100%;}
main .bestmenu .contents .food_right .explanation {
    width: 465px; height: 350px;
    background: #222; border-radius: 10px;
    display: flex; flex-flow: column nowrap;
    align-items: center; justify-content: center; 
}
main .bestmenu .contents .food_right .explanation h3 {
    font-weight: 700; font-size: 2.369rem;
    letter-spacing: -0.02em; color: #fff;
    margin-bottom: 40px;
}
main .bestmenu .contents .food_right .explanation h4 {
    font-weight: 500; font-size: 1.777rem;
    letter-spacing: -0.02em; color: #fff;
    margin-bottom: 40px;
}
main .bestmenu .contents .food_right .explanation p {
    text-align: center;
    width: 378px; height: 45px;
    font-size: 1.2rem; letter-spacing: -0.02em;
    line-height: 30px; color: #fff; 
    margin-bottom: 40px;
}
main .bestmenu .contents .food_right .explanation #view_btn2 {
    width: 185px; line-height: 55px;
    background: #fff; text-align: center;
    border-radius: 50px;
    font-weight: 500; font-size: 1.2rem; letter-spacing: -0.02em;
    color: #222; transition: color 0.2s; transition: background 0.2s;
}
main .bestmenu .contents .food_right .explanation #view_btn2:hover {
    color: #fff; background: #cb0e05;
}
/* bestmenu-btm */
main .bestmenu .bottom {
    width: 1180px; height: 176px; margin: 0 auto;
}
main .bestmenu .bottom img {width: 100%;}
/* membership */
main .membership_bg { 
    width: 100%;
    background:  url(../images/main/membership_bg.jpg) no-repeat center 80%;
    background-size: cover;
}
main .membership_bg .membership {
    width: 1180px; margin: 0 auto;
    padding: 140px 105.5px;
}
main .membership_bg .membership h2 {
    font-weight: 700; font-size: 3.157rem;
    letter-spacing: -0.02em; color: #fff;
    margin-bottom: 30px; text-align: center;
}
main .membership_bg .membership > p {
    font-weight: 500; font-size: 1.777rem;
    letter-spacing: -0.02em; color: #fff; text-align: 70px;
    text-align: center; margin-bottom: 70px;
}
main .membership_bg .membership .contents {
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
}
/* birthday */
main .membership_bg .membership .contents .birthday {
    width: 243px; 
    display: block;
    display: flex; flex-flow: column nowrap;
    justify-content: space-between; align-items: center;
}
main .membership_bg .membership .contents .birthday p {
    width: 100px; height: 100px; margin-bottom: 40px;
}
main .membership_bg .membership .contents .birthday p img {width: 100px;}
main .membership_bg .membership .contents .birthday h3 {
    font-weight: 500; font-size: 2.2rem;
    letter-spacing: -0.02em; color: #fff;
    margin-bottom: 40px;

}
main .membership_bg .membership .contents .birthday .detail {
    width: 230px; height: 60px;
    font-weight: 500; font-size: 1.333rem; text-align: center;
    letter-spacing: -0.02em; color: #fff;
    line-height: 30px 
}
/* rewards */
main .membership_bg .membership .contents .rewards {
    width: 243px; 
    display: block;
    display: flex; flex-flow: column nowrap;
    justify-content: space-between; align-items: center;
}
main .membership_bg .membership .contents .rewards p {
    width: 100px; height: 100px; margin-bottom: 40px;
}
main .membership_bg .membership .contents .rewards p img {width: 100px;}
main .membership_bg .membership .contents .rewards h3 {
    font-weight: 500; font-size: 2.2rem;
    letter-spacing: -0.02em; color: #fff;
    margin-bottom: 40px;

}
main .membership_bg .membership .contents .rewards .detail {
    width: 230px; height: 60px;
    font-weight: 500; font-size: 1.333rem; text-align: center;
    letter-spacing: -0.02em; color: #fff;
    line-height: 30px 
}
/* badge */
main .membership_bg .membership .contents .badge {
    width: 243px; 
    display: block;
    display: flex; flex-flow: column nowrap;
    justify-content: space-between; align-items: center;
}
main .membership_bg .membership .contents .badge p {
    width: 100px; height: 100px; margin-bottom: 40px;
}
main .membership_bg .membership .contents .badge p img {width: 100px;}
main .membership_bg .membership .contents .badge h3 {
    font-weight: 500; font-size: 2.2rem;
    letter-spacing: -0.02em; color: #fff;
    margin-bottom: 40px; 
}
main .membership_bg .membership .contents .badge .detail {
    width: 230px; height: 60px;
    font-weight: 500; font-size: 1.333rem; text-align: center;
    letter-spacing: -0.02em; color: #fff;
    line-height: 30px 
}
/* reservation */
main .reservation_bg {
    width: 100%;
    background:  url(../images/main/reservation_bg.jpg) no-repeat center;
    background-size: cover;
}
main .reservation_bg .reservation {
    margin: 0 auto; padding: 140px 161px;
}
main .reservation_bg .reservation #reservation_frm {
    display: flex; flex-flow: column nowrap;
}
main .reservation_bg .reservation #reservation_frm fieldset {
    display: flex; flex-flow: column nowrap; align-items: center;
}
main .reservation_bg .reservation #reservation_frm fieldset .reservation_title {
    width: 858px; background: #cb0e05; padding: 50px 250px;
    font-weight: 700; font-size: 3.157rem; letter-spacing: -0.02em;
    color: #fff; border-radius: 20px 20px 0 0 ;
}
main .reservation_bg .reservation #reservation_frm fieldset ul {
    background: #f9f9f9; width: 858px; height: 862px;
    border-radius: 0 0 20px 20px;
    display: flex; flex-flow: column nowrap;
    align-items: center; padding: 50px 58.5px;
}
main .reservation_bg .reservation #reservation_frm fieldset ul > li {}
/* form-day */
main .reservation_bg .reservation #reservation_frm fieldset ul .day {
    width: 741px; height: 75px;
    display: flex; flex-flow: row nowrap; justify-content: space-between;
    margin-bottom: 50px;
}
main .reservation_bg .reservation #reservation_frm fieldset ul .day #date_btn {
    background: #fff; border: 1px solid #787878; border-radius: 15px;
    width: 399px; height: 75px;
    display: flex; flex-flow: row nowrap; align-items: center;
}
main .reservation_bg .reservation #reservation_frm fieldset ul .day #date_btn img {
    width: 25px; height: 25px; margin: 0 30px;
}
main .reservation_bg .reservation #reservation_frm fieldset ul .day #date_btn select {
    width: 70%; border: 0; height: 70%;
    font-size: 1.5rem; letter-spacing: -0.02em; color: #787878;
}
main .reservation_bg .reservation #reservation_frm fieldset ul .day #date_btn select option {font-size: 1.5rem; letter-spacing: -0.02em; color: #787878;}
main .reservation_bg .reservation #reservation_frm fieldset ul .day #time_btn {
    background: #fff; border: 1px solid #787878; border-radius: 15px;
    width: 299px; height: 75px;
    display: flex; flex-flow: row nowrap; align-items: center;
}
main .reservation_bg .reservation #reservation_frm fieldset ul .day #time_btn img {
    width: 25px; height: 25px; margin: 0 30px;
}
main .reservation_bg .reservation #reservation_frm fieldset ul .day #time_btn select {
    width: 60%; border: 0; height: 70%;
    font-size: 1.5rem; letter-spacing: -0.02em; color: #787878;
}
main .reservation_bg .reservation #reservation_frm fieldset ul .day #time_btn select option {font-size: 1.5rem; letter-spacing: -0.02em; color: #787878;}
/* form-area */
main .reservation_bg .reservation #reservation_frm fieldset ul .area {
    margin-bottom: 50px;
}
main .reservation_bg .reservation #reservation_frm fieldset ul .area #area_btn {
    background: #fff; border: 1px solid #787878; border-radius: 15px;
    width: 741px; height: 75px;
    display: flex; flex-flow: row nowrap; align-items: center;
}
main .reservation_bg .reservation #reservation_frm fieldset ul .area #area_btn img {
    width: 25px; height: 25px; margin: 0 30px;
}
main .reservation_bg .reservation #reservation_frm fieldset ul .area #area_btn select {
    width: 85%; border: 0; height: 70%;
    font-size: 1.5rem; letter-spacing: -0.02em; color: #787878;
}
main .reservation_bg .reservation #reservation_frm fieldset ul .area #area_btn select option {font-size: 1.5rem; letter-spacing: -0.02em; color: #787878;}
/* form-line */
main .reservation_bg .reservation #reservation_frm fieldset ul .line {
    margin-bottom: 50px;
}
main .reservation_bg .reservation #reservation_frm fieldset ul .line span {
    width: 741px; height: 1px; background: #787878;
    display: block;
}
/* form-personnel */
main .reservation_bg .reservation #reservation_frm fieldset ul .personnel_input {
    background: #fff; border: 1px solid #787878; border-radius: 15px;
    width: 741px; height: 75px;
    display: flex; flex-flow: row nowrap; align-items: center;
    margin-bottom: 50px;
}
main .reservation_bg .reservation #reservation_frm fieldset ul .personnel_input img {
    width: 25px; height: 25px; margin: 0 30px;
}
main .reservation_bg .reservation #reservation_frm fieldset ul .personnel_input #personnel {
    font-size: 1.5rem; letter-spacing: -0.02em; color: #787878;
    width: 100%;
}
/* form-name */
main .reservation_bg .reservation #reservation_frm fieldset ul .name_input {
    background: #fff; border: 1px solid #787878; border-radius: 15px;
    width: 741px; height: 75px;
    display: flex; flex-flow: row nowrap; align-items: center;
    margin-bottom: 50px;
}
main .reservation_bg .reservation #reservation_frm fieldset ul .name_input img {
    width: 25px; height: 25px; margin: 0 30px;
}
main .reservation_bg .reservation #reservation_frm fieldset ul .name_input #name {
    font-size: 1.5rem; letter-spacing: -0.02em; color: #787878;
    width: 100%;
}
/* form-call */
main .reservation_bg .reservation #reservation_frm fieldset ul .call_input {
    background: #fff; border: 1px solid #787878; border-radius: 15px;
    width: 741px; height: 75px;
    display: flex; flex-flow: row nowrap; align-items: center;
    margin-bottom: 50px;
}
main .reservation_bg .reservation #reservation_frm fieldset ul .call_input img {
    width: 25px; height: 25px; margin: 0 30px;
}
main .reservation_bg .reservation #reservation_frm fieldset ul .call_input #call {
    font-size: 1.5rem; letter-spacing: -0.02em; color: #787878;
    width: 100%;
}
/* form-reservation_btn */
main .reservation_bg .reservation #reservation_frm fieldset ul .reservation_button {}
main .reservation_bg .reservation #reservation_frm fieldset ul .reservation_button #reservation_btn {
    width: 341px; height: 87px; background: #ad8350; border-radius: 15px;
    font-weight: 500; font-size: 2.2rem; letter-spacing: -0.02em;
    color: #fff; transition: color 0.3s;
}
main .reservation_bg .reservation #reservation_frm fieldset ul .reservation_button #reservation_btn:hover {color: #222;}

/* footer */
footer {}
footer .contents_bg {background: #000;}
footer .contents_bg .contents {
    width: 1180px; margin: 0 auto;
    display: flex; flex-flow: column nowrap;
    align-items: flex-start; padding: 50px 0;
    color: #fff;
}
/* top */
footer .contents_bg .contents .top {
    width: 1180px;
    display: flex; flex-flow: row nowrap;
    justify-content: space-between; align-items: center;
    margin-bottom: 25px;
}
footer .contents_bg .contents .top #fnb {
    display: flex; flex-flow: row nowrap;
}
footer .contents_bg .contents .top #fnb a {
    color: #fff; font-family: 'Noto Sans KR', sans-serif;
    letter-spacing: -0.02em;
    margin-right: 10px;
    position: relative;
}
footer .contents_bg .contents .top #fnb a::after {
    display: inline-block; content: ''; width: 1px; height: 11px; 
    background: #fff; margin: 0 6px 0 15px;
}
footer .contents_bg .contents .top #fnb a:nth-child(7)::after {
    display: none;
}
footer .contents_bg .contents .top .link {}
footer .contents_bg .contents .top .link .instagram {
    width: 35px; height: 35px;
}
footer .contents_bg .contents .top .link .instagram img {}
footer .contents_bg .contents .top .link .facebook {
    width: 35px; height: 35px;
    margin-left: 10px;
}
footer .contents_bg .contents .top .link .facebook img {}
footer .contents_bg .contents .top .link .youtube {
    width: 35px; height: 35px;
    margin-left: 10px;
}
footer .contents_bg .contents .top .link .youtube img {}
footer .contents_bg .contents .top .link .kakao {
    margin-left: 10px;
    width: 35px; height: 35px;
}
footer .contents_bg .contents .top .link .kakao img {}
/* address */
footer .contents_bg #address {
    font-family: 'Noto Sans KR', sans-serif;
    letter-spacing: -0.02em; line-height: 26px;
    margin-bottom: 25px;
}
footer .contents_bg #address span {
    display: inline-block; width: 1px; height: 11px; margin: 0 10px;
    background: #fff;
}
/* number */
footer .contents_bg .number {}
footer .contents_bg .number p {
    font-family: 'Noto Sans KR', sans-serif;
    letter-spacing: -0.02em; line-height: 26px;
}
footer .contents_bg .number p em,
footer .contents_bg .number p strong {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700; font-size: 1.333rem; letter-spacing: -0.02em;
}